/**
 * source:
 * using SASS to convert/calculate css sizes from px to em, px to percent and em to px; also has function to remove units / (Design in pixels then convert it to em or percent)
 * https://gist.github.com/moyarich/3260638
 */
/**
 * rem based layout
 *
 * Examples
 * 
 * - Use a pixel value with a rem fallback for font-size, padding, margins, etc.
 *         padding: 5px 0;
 *         padding: 0.357142857rem 0; (5 / $rem-base)
 * 
 * - Set a font-size and then set a line-height based on the font-size
 *         font-size: 16px
 *         font-size: 1.142857143rem; (16 / $rem-base)
 *         line-height: 1.5; ($line-height / 16)
 *
 * Vertical spacing
 *
 * Vertical spacing between most elements should use 24px or 48px
 * to maintain vertical rhythm:
 *
 * .my-new-div {
 *         margin: 24px 0;
 *         margin: 1.714285714rem 0; ( 24 / $rem-base )
 * }
 */
.css-bold {
  font-weight: bold;
}

.css-italic {
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

.clear-both {
  clear: both;
}

.hidden {
  display: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

html, body {
  background-color: black;
  font-family: 'arvoregular';
}

a, a:hover, a:focus, a:visited {
  color: white;
  text-decoration: none;
  outline: none;
}

.centered-container {
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
}
.centered-container:before, .centered-container:after {
  display: table;
  line-height: 0;
  content: "";
}
.centered-container:after {
  clear: both;
}
.centered-container .col1 {
  float: left;
  width: 60px;
  margin-right: 20px;
}
.centered-container .col2 {
  float: left;
  width: 140px;
  margin-right: 20px;
}
.centered-container .col3 {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.centered-container .col4 {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.centered-container .col5 {
  float: left;
  width: 380px;
  margin-right: 20px;
}
.centered-container .col6 {
  float: left;
  width: 460px;
  margin-right: 20px;
}
.centered-container .col7 {
  float: left;
  width: 540px;
  margin-right: 20px;
}
.centered-container .col8 {
  float: left;
  width: 620px;
  margin-right: 20px;
}
.centered-container .col9 {
  float: left;
  width: 700px;
  margin-right: 20px;
}
.centered-container .col10 {
  float: left;
  width: 780px;
  margin-right: 20px;
}
.centered-container .col11 {
  float: left;
  width: 860px;
  margin-right: 20px;
}
.centered-container .col12 {
  float: left;
  width: 940px;
  margin-right: 20px;
}

.container .close-button {
  position: absolute;
  top: 0px;
  right: 18px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.container .header-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 54px;
  line-height: 50px;
  background-color: black;
  display: none;
  height: 36px;
  line-height: 18px;
  padding: 9px 0;
  display: block;
  color: white;
}
.container .header-container a {
  font-family: 'titilliumregular';
  color: white;
}
.container .header-container .italic {
  font-family: 'arvoitalic';
}
.container .header-container .col12 {
  text-align: center;
}
.container .audio-container {
  display: none;
}
.container .video-container {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.container .video-container #video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.container .video-container .intro-fg {
  display: none;
  position: absolute;
  left: 0px;
  top: 20%;
  width: 921px;
  height: 83px;
}
.container .video-container .video-loading {
  display: none;
  position: absolute;
  right: 72px;
  top: 72px;
  width: 32px;
  height: 32px;
}
.container .video-container .video-loading-text {
  display: none;
  position: absolute;
  right: 72px;
  top: 72px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
  font-size: 8px;
  cursor: default;
}
.container .video-container .video-interactivity {
  display: none;
  position: absolute;
  right: 72px;
  top: 72px;
  width: 15px;
  height: 15px;
}
.container .video-container .video-fg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.container .video-container .video-cover {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.container .video-container .video-title {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.container .video-container .video-title .text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 80px;
  color: white;
  font-family: arial, helvetica, sans;
  cursor: default;
}
.container .video-container .video-interface {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.container .video-container .video-interface .video-interface-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.container .video-container .video-interface .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.container .chapters-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.container .chapters-container.minimized {
  left: -100%;
}
.container .chapters-container .chapters-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}
.container .chapters-container .chapters {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .chapters-container .chapters .cover {
  float: left;
  cursor: pointer;
  width: 240px;
  height: 1080px;
}
.container .chapters-container .chapters a {
  font-family: 'titilliumregular';
  color: white;
}
.container .chapters-container .chapters a:hover {
  font-weight: bold;
}
.container .about-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .about-container.minimized {
  left: -100%;
}
.container .about-container .about-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  -khtml-opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
  opacity: 0.85;
}
.container .about-container .about {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  font-family: 'arvoregular';
  text-align: justify;
}
.container .about-container .about .centered-container {
  padding-top: 10%;
}
.container .credits-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .credits-container.minimized {
  left: -100%;
}
.container .credits-container .credits-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  -khtml-opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
  opacity: 0.85;
}
.container .credits-container .credits {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'arvoregular';
}
.container .credits-container .credits a {
  color: white;
}
.container .credits-container .credits .centered-container .col12 {
  text-align: center;
}
.container .manual-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 54px;
  line-height: 50px;
  background-color: black;
  display: none;
  font-family: 'arvoregular';
  color: white;
}
.container .manual-container .col12 {
  text-align: center;
}
.container .footer-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 54px;
  line-height: 50px;
  background-color: black;
  display: none;
}
.container .footer-container h1 {
  font-size: 30px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
}
.container .footer-container h1 a {
  font-family: 'titilliumregular';
  color: white;
}
.container .footer-container ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
}
.container .footer-container ul li {
  float: left;
  margin-left: 30px;
}
.container .footer-container ul li:first-child {
  margin-left: 0;
}
.container .footer-container ul li a {
  font-family: 'titilliumregular';
  color: white;
}
